header {
  background-color: #333;
  height: 50px;
  padding: 0px 15px;
}
.left,.right{
  width: 50%;
  float: left;
}
header a{
  line-height: 50px;
  color: #fff;
  padding: 9px 5px;
}
header a:hover{
  background-color: rgb(43, 43, 228);
}
.right {
  text-align: right;
}
.column{
  
  width: 33%;
  float:left;
  }
  .logo {
    text-align: center;
    font-size: 40px;
  }
  .entrance{
    text-align: right;
  }
  .sale,.poisk {
    margin: 20px 0px;
    float:left;
    font-size:15px;
  }
  .poisk{
    width: 30%;
    text-align: right;
  }
  main{
   background-color: #fff;
   height: calc(100vh - 200px) ;
   
 }
 footer{
   background-color:rgb(9, 136, 15);
   height: 150px;
   
 }
 .sale a{
   padding: 9px 5px;
 }